{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to ChronoDrome</h1>
<ul>
	<li>Make timelines!</li>
	<li>Track your progress!</li>
</ul>
<p>ChronoDrome is a website with one purpose: creating and sharing timelines and 
	reading orders. It's meant to be both simple and flexible, like the best of 
	Web 1.0, which you'll hopefully see when you start making timelines of your own.
<p>What sort of stuff qualifies? Well, pretty much anything that goes in a 
	particular order, whether it's your favorite show or your favorite series of 
	books or anything else you feel like.
<p>If you want to create timelines yourself or track your progress through 
	other people's timelines, all you have to do is create an account.
<p>Have feedback, requests, or bug reports? Send them <a href="{% url 'feedback' %}">here</a>!
<hr>
<h3><a href="{% url 'timeline_search' %}">View All Timelines</a></h3>
<hr>
<h3>Changelog</h3>
<ul>
{% for change in changelog %}
	<li>{{ change.created.date }}: {{ change.changelog_text }}</li>
{% endfor %}
</ul>
<p><a href="{% url 'changelog' %}">View all</a></p>
{% endblock %}