{% extends 'user_form_base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
  {% if title != '' %}
    Editing "{{ title }}"
  {% else %}
    Create new timeline
  {% endif %}
{% endblock title %}

{% block content %}
<div class="user-form {% if changed_input %}changed-input{% endif %}">
  <b>
    {% for error in entry_formset.non_form_errors %}
      <p class="form-error-text">{{ error }}</p>
    {% endfor %}
    {% for error in divider_formset.non_form_errors %}
      <p class="form-error-text">{{ error }}</p>
    {% endfor %}
    {% for error in image_formset.non_form_errors %}
      <p class="form-error-text">{{ error }}</p>
    {% endfor %}
  </b>

  {% if title != '' %}
    <h1>Editing "{{ title }}"</h1>
  {% else %}
    <h1>Create new timeline</h1>
    <p><i>Or <a href="{% url 'timeline_import' %}">import timeline</a></i></p>
  {% endif %}
  <noscript>
    <p><b>Javascript is required for this page to work properly.</b></p>
  </noscript>

  <form class="timeline-edit-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ entry_formset.management_form }}
    {{ divider_formset.management_form }}
    {{ image_formset.management_form }}

    {{ timeline_form }}
    <br>
    <a class="insert-entry-at-start" href="javascript:void(0)">Insert Entry</a> | 
    <a class="insert-divider-at-start" href="javascript:void(0)">Insert Divider</a> | 
    <a class="insert-image-at-start" href="javascript:void(0)">Insert Image</a> 
    <br><br>

    <!-- Where all the formsets for each item type go, mixed together. -->
    <div class="formset">
      {% for form in items %}
        <div class="{{ form.type }}" id="id_{{ form.type }}-{{ form.count }}-div" {% if form.hidden %}hidden{% endif %}>
          <h3 class="{{ form.type }}-header">
            <a class="move-down" title="Move down" id="id_{{ form.type }}-{{ form.count }}-down" href="javascript:void(0)">▼</a>
            <span class="{{ form.type }}-header-text">
              {% if form.type == 'entry' %}
                Entry {{ form.count|add:1 }}/{{ MaxNumEntries }}
              {% elif form.type == 'divider' %}
                Divider {{ form.count|add:1 }}/{{ MaxNumDividers }}
              {% elif form.type == 'image' %}
                Image {{ form.count|add:1 }}/{{ MaxNumImages }}
              {% endif %}
            </span>
            <a class="move-up" title="Move up" id="id_{{ form.type }}-{{ form.count }}-up" href="javascript:void(0)">▲</a>
          </h3>

          <!-- Check widgets/form_template.html for how forms are rendered -->
          {{ form.item }}

          <br>
          {% if form.type == 'entry' %}
            <span class="episode-list-button">
              <a class="show-episode-list" href="javascript:void(0)">Show Episode List</a> | 
            </span>
          {% endif %}
          <a class="delete-{{ form.type }}" id="id_{{ form.type }}-{{ form.count }}-delete-button" href="javascript:void(0)">
            Delete {{ form.type|capfirst }}
          </a>
          <br>
          <a class="insert-entry" href="javascript:void(0)">Insert Entry</a> | 
          <a class="insert-divider" href="javascript:void(0)">Insert Divider</a> | 
          <a class="insert-image" href="javascript:void(0)">Insert Image</a> 
          <br>
        </div>
        {% endfor %}
    </div>      

    <p>
      <input name="save-timeline" type="submit" value="Save timeline">
    </p>
  </form>

  {% for form in episode_items %}
    <div class="{{ form.type }}" id="id_{{ form.type }}-{{ form.count }}-div" hidden>
      {{ form }}
    </div>
  {% endfor %}

</div>
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <script>
    warnOfUnsavedChanges();
    stopEnterFromSubmitting();
    markFieldErrors();
  </script>
  <script src="{% static 'js/jquery.swap.js' %}"></script>
  <script src="{% static 'js/timelines/timeline_edit.js' %}"></script>
{% endblock scripts %}