{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ timeline.title }}{% endblock title %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'css/timelines/timeline_detail.css' %}">
{% endblock styles %}

{% block content %}
<div id="timeline-entry">
	{% if timeline.hidden %}
		<h3 class="error">Timeline is currently hidden. Only you can see this.</h3>
	{% endif %}
	{% if has_edit_permissions %}
		<p class="helper-text"><a href="{% url 'timeline_edit' timeline.pk %}">Edit</a> | 
		<a href="{% url 'timeline_delete' timeline.pk %}">Delete</a></p>
	{% endif %}
	<h1 class="timeline-header">{{ timeline.title|upper }}</h1>

	<span class="bookmark-row">
		<p class="creator-name">
			{% if timeline.creator.is_active %}
				by <b><a href="{% url 'view_user' timeline.creator %}">{{ timeline.creator }}</a></b>
			{% else %}
				by <b>{{ timeline.creator }}</b> (deleted)
			{% endif %}
		</b></p>
		{% if user.is_authenticated %}
			<span class="bookmark-button">
			<form method="post" class="bookmark-change">{% csrf_token %}
				<div id="{{ timeline.pk }}-remove-bookmark" {% if user not in timeline.bookmarks.all %}hidden{% endif %}>
					<button type="submit" class="remove-bookmark" value="{{ timeline.pk }}">
						Remove bookmark
					</button>
				</div>
				<div id="{{ timeline.pk }}-add-bookmark" {% if user in timeline.bookmarks.all %}hidden{% endif %}>
					<button type="submit" class="add-bookmark" value="{{ timeline.pk }}">
						Add bookmark
					</button>	
				</div>
			</form>
			</span>
		{% endif %}
	</span>
	{% if timeline.header_image %}
		<div class="image">
			<a href="{{ timeline.header_image.url }}">
				{% thumbnail timeline.header_image "760x500" upscale=False format="PNG" as im %}
					<img class="timeline-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				{% endthumbnail %}
			</a>
		</div>
	{% endif %}
	<p>{{ timeline.description|linebreaks }}</p>
</div>

<div id="user-has-finished">
	{% if user.is_authenticated %}
		{% if user_has_finished_TL is True %}
			<h3>Congratulations, you've finished this timeline!</h3>
		{% else %}
			<h3>You have finished {{ total_finished }} out of 
				{{ total_entries }} entries in this timeline.</h3>
		{% endif %}
	{% else %}
		<h3><em>
			<a href="{% url 'login' %}">Log in</a> or 
			<a href="{% url 'signup' %}">sign up</a> to track your progress</a>
		</em></h3>
	{% endif %}
</div>

<ol>
{% for item in items %}

	{% if item.type == 'entry' %}{% with item.item as entry %}
		<div id="entry-{{ entry.pk }}" class="entry{% if item.user_has_finished %} has-finished{% endif %}">
			<li class="list-entry">
				{% if entry.link != '' %}
					<a href="{{ entry.link }}" target="_blank" rel="noopener noreferrer">
				{% endif %}
				<b>{{ entry.name }}</b></a>
				{% if entry.author != '' %}
					by <b>{{ entry.author }}</b>
				{% endif %}
				{% if entry.section != '' %} 
					({{ entry.section }})
				{% endif %}
			</li>
			{% if entry.date %}
				<p class="entry-date"><i>{{ entry.date }}</i></p>
			{% endif %}
			<blockquote>{{ entry.comment|linebreaks }}</blockquote>

			{% with item.matching_eps_dict as eps_dict %}{% if eps_dict.matching_eps %}
				<p class="helper-text center"><b>
					<a href="javascript:void(0)" class="hide-eps" id="hide-eps-{{ forloop.counter0 }}" {% if item.user_has_finished %}hidden{% endif %}>
						Hide Episodes</a>
					<a href="javascript:void(0)" class="show-eps" id="show-eps-{{ forloop.counter0 }}" {% if not item.user_has_finished %}hidden{% endif %}>
						Show Episodes</a> 
					{% if user.is_authenticated %}
						<span class="finished-episodes-count" id="finished-episodes-count-{{ forloop.counter0 }}">
							({{ eps_dict.finished_episodes_count }}/{{ eps_dict.matching_eps|length }} Finished)
						</span>
					{% else %}
						({{ eps_dict.matching_eps|length }} Total)
					{% endif %}
				</b></p>
				
				<div class="episode-list-div">
					<ol class="episode-list" id="episode-list-{{ forloop.counter0 }}" {% if item.user_has_finished %}hidden{% endif %}>
					{% for episode_dict in eps_dict.matching_eps %}
					{% with episode_dict.episode as episode %}
						<li class="episode-text{% if episode_dict.user_has_finished %} has-finished{% endif %}" id="episode-{{ episode.pk }}">
							<b>{{ episode.name }}</b>
							{% if episode.date %}
								- <i>{{ episode.date }}</i>
							{% endif %}
							{% if user.is_authenticated %}
								<form class="user-has-finished-ep-change" method="post">{% csrf_token %}
									<span class="button-row mark-ep-as-unfinished-div" id="ep-is-finished-{{ episode.pk }}" {% if not episode_dict.user_has_finished %}hidden{% endif %}>
										<button type="submit" class="mark-ep-as-unfinished" value="{{ entry.pk }}-{{ episode.pk }}">
											Mark unfinished
										</button>
									</span>
									<span class="button-row mark-ep-as-finished-div" id="ep-is-unfinished-{{ episode.pk }}" {% if episode_dict.user_has_finished %}hidden{% endif %}>
										<button type="submit" class="mark-ep-as-finished" value="{{ entry.pk }}-{{ episode.pk }}">
											Mark finished
										</button>
									</span>
								</form>
							{% endif %}
						</li>
						{% if not forloop.last %}
							<hr>
						{% endif %}
					{% endwith %}
					{% endfor %}
					</ol>
				</div>
			{% endif %}
		
			{% if user.is_authenticated %}
				<form class="user-has-finished-change" method="post">{% csrf_token %}
					<div class="button-row" class="mark-as-unfinished-div" id="is-finished-{{ entry.pk }}" {% if not item.user_has_finished %}hidden{% endif %}>
						<button type="submit" class="mark-as-unfinished" value="{{ entry.pk }}">
							{% if eps_dict.matching_eps %}
								Mark all unfinished
							{% else %}
								Mark unfinished
							{% endif %}
						</button>
					</div>
					<div class="button-row" id="is-unfinished-{{ entry.pk }}" {% if item.user_has_finished %}hidden{% endif %}>
						<button type="submit" class="mark-as-finished" value="{{ entry.pk }}">
							{% if eps_dict.matching_eps %}
								Mark all finished
							{% else %}
								Mark finished
							{% endif %}
						</button>
					</div>
				</form>
			{% endif %}
		</div>
	{% endwith %}{% endwith %}

	{% elif item.type == 'divider' %}{% with item.item as divider %}
		{% if item.is_blank %}
			<hr class="divider-blank">
		{% else %}
			{% if divider.name %}<div class="divider-major">
			{% else %}<div class="divider-minor">
			{% endif %}
				<h1 class="divider-name">{{ divider.name }}</h1>
				<h2 class="divider-subheading">{{ divider.subheading }}</h2>
				{% if divider.comment %}
					<div class="divider-comment">{{ divider.comment|linebreaks }}</div>
				{% endif %}
			</div>
		{% endif %}
	{% endwith %}

	{% elif item.type == 'image' %}{% with item.item as image %}
		<div class="image">
			<a href="{{ image.image.url }}">
				{% thumbnail image.image "760x500" upscale=False format="PNG" as im %}
					<img class="timeline-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				{% endthumbnail %}
			</a>
			{% if image.caption %}
				<p class="image-caption"><i>{{ image.caption }}</i></p>
			{% endif %}
		</div>
	{% endwith %}{% endif %}
	
{% endfor %}
</ol>

<p class="helper-text"><i>Timeline updated: {{ timeline.updated.date }}</i></p>
{% endblock content %}
{% block scripts %}
	<script src="{% static 'js/timelines/timeline_detail.js' %}"></script>
{% endblock scripts %}