{% extends 'base.html' %}
<!-- Not a page to be viewed itself, this is just to show filtered timelines for timeline_search, user_view, and bookmarks -->
{% load static %}
{% load thumbnail %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'css/search_base.css' %}">
{% endblock styles %}
{% block content %}
	<!-- Whatever info the page needs to show above the search results -->
	{% block top %}
	{% endblock top %}

	{% include "widgets/pagination_bar.html" %}

	{% for timeline in page_obj %}
	<div class="search-result{% if timeline.user_has_finished %} has-finished{% endif %}">
		{% if timeline.current_TL.header_image %}
			<span class="search-thumbnail">
				<a href="{% url 'timeline_detail' timeline.current_TL.url timeline.current_TL.slug %}">
					{% thumbnail timeline.current_TL.header_image "150x150" upscale=False format="PNG" as im %}
						<img class="timeline-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
					{% endthumbnail %}
				</a>
			</span>
		{% endif %}
		<h3><a href="{% url 'timeline_detail' timeline.current_TL.url timeline.current_TL.slug %}">
		{{ timeline.current_TL.title }}</a></h3>
	  {% if timeline.current_TL.creator.is_active %}
			<p>by <b><a href="{% url 'view_user' timeline.current_TL.creator %}">{{ timeline.current_TL.creator }}</a></b></p>
		{% else %}
			<p>by <b>{{ timeline.current_TL.creator }}</b> (deleted)
		{% endif %}
		<p class="truncated-description">
			{{ timeline.current_TL.description|truncatechars:255 }}
		</p>

		<div class="bookmark-row">
		<p><i>{% if user.is_authenticated %}
			{% if timeline.user_has_finished %}
				Congratulations, you've finished this timeline!
			{% else %}
				You have finished {{ timeline.total_finished }} out of 
				{{ timeline.total_entries }} entries in this timeline.
			{% endif %}
		{% else %}
			{{ timeline.total_entries }} entries total.
		{% endif %}</i></p>

				{% if user.is_authenticated %}<span class="bookmark-button">
					<form method="post" class="bookmark-change">{% csrf_token %}
						<div id="{{ timeline.current_TL.pk }}-remove-bookmark" {% if not timeline.is_bookmarked %}hidden{% endif %}>
							<button type="submit" class="remove-bookmark" value="{{ timeline.current_TL.pk }}">
								Remove bookmark
							</button>
						</div>
						<div id="{{ timeline.current_TL.pk }}-add-bookmark" {% if timeline.is_bookmarked %}hidden{% endif %}>
							<button type="submit" class="add-bookmark" value="{{ timeline.current_TL.pk }}">
								Add bookmark
							</button>
						</div>
					</form>
				</span>{% endif %}
				
			</div>
	  </div>
	{% if not forloop.last %}
		<hr>
	{% endif %}
	{% endfor %}

	<br>
	{% include "widgets/pagination_bar.html" %}

{% endblock content %}

{% block scripts %}
	<script src="{% static 'js/search_base.js' %}"></script>
{% endblock scripts %}